body {
    background-image: url(avengers2.jpg);
    background-repeat: no-repeat;
}

.active {
    background-color: rgb(157, 189, 218);
   
}

.line {
    width: 60%; 
    margin: auto;
}

.question {
    /* font-size: 1em; */
    background-color: rgb(158, 7, 7);
    color: white;
    font-weight: bold;
    padding: 2px;
    font-size: 20px;
    margin-bottom: 15px;
}

.main {
    width:800px;
    border: 2px solid rgb(158, 7, 7);
    border-radius: 15px;
    padding: 10px;
    margin: 10% auto;
    background-color: white;
}

h1 {
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 2px solid rgb(158, 7, 7);
}
.box{
    width: 60%;
    margin: auto;
   
}



#next {
    background-color: rgb(158, 7, 7);
    color: white;
    width: 30%;
    height: 30px;
}